* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    background-image: url(https://cdn.pixabay.com/photo/2012/11/28/08/54/milky-way-67504_960_720.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.sun img {



    border-radius: 50%;
    border: 1px solid yellow;

    width: 100%;



}

.sun {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    transform: translate(-50%, -50%);





}

.border1 {

    border: 1px solid yellow;
    border-radius: 50%;
    padding: 90px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);




}

.border2 {
    border: 1px solid yellow;
    border-radius: 50%;
    padding: 140px;
    position: absolute;
    top: 14%;
    left: 13%;
    transform: translate(-50%, -50%);
    animation: border2 15s linear infinite;
}
@keyframes border2 {
    to{
        transform: rotate(0deg);
    }
    from {
        transform: rotate(360deg);

    }
    
}

@keyframes border3 {
    to{
        transform: rotate(0deg);
    }
    from {
        transform: rotate(360deg);

    }
    
}

@keyframes border4 {
    to{
        transform: rotate(0deg);
    }
    from {
        transform: rotate(360deg);

    }
    
}


@keyframes border5 {
    to{
        transform: rotate(0deg);
    }
    from {
        transform: rotate(360deg);

    }
    
}
.merkuri {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 40px;
    left: 120px;
    z-index: 1;
    animation: merkuri 60s linear infinite;
}

.venera {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 58px;
    left: 120px;
    z-index: 1;
}
.earth {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 70px;
    left: 120px;
    z-index: 1;
}

.mars {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 5%;
    left: 39%;
    z-index: 1;
}
.border3 {
    border: 1px solid yellow;
    border-radius: 50%;
    padding: 190px;
    position: absolute;
    top: 11%;
    left: 11%;
    transform: translate(-50%, -50%);
    animation: border3 25s linear infinite;

}
.border4 {
    border: 1px solid yellow;
    border-radius: 50%;
    padding: 240px;
    position: absolute;
    top: 9%;
    left: 7%;
    animation: border4 25s linear infinite;
}

.border5 {
    border: 1px solid yellow;
    border-radius: 50%;
    padding: 290px;
    position: absolute;
    top: 20%;
    left: 35%;
    animation: border5 25s linear infinite;
}

.container {
    position: relative;
    width: 600px;
    height: 600px;
}
